<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>async Test Method</Title>
      <Shortcut>testma</Shortcut>
      <Description>Code snippet for an async test method</Description>
      <Author>tsimon</Author>
    </Header>
    <Snippet>
      <Imports>
        <Import>
          <Namespace>Microsoft.VisualStudio.TestTools.UnitTesting</Namespace>
        </Import>
      </Imports>
      <Declarations>
      </Declarations>
      <Code Language="csharp"><![CDATA[[TestMethod]
      public async Task Test()
      {$selected$$end$
      }]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>